{{define "navigation"}}
	<style>
		.layout-transparent {
			background: rgb(21, 21, 21);
		}
		.layout-transparent .mdl-layout__header,
		.layout-transparent .mdl-layout__drawer-button {
			color: white;
		}
	</style>
	<header class="mdl-layout__header mdl-layout__header--transparent">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">Chappell Marketing</span>
			<!-- Add spacer, to align navigation to right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation -->
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="/">Home</a>
				<a class="mdl-navigation__link" href="/blog">Blog</a>
				<a class="mdl-navigation__link" href="">Chat</a>
				<a class="mdl-navigation__link" href="mailto:chappell28@gmail.com?subject=chappellmarketing.com: Put your title here">Email</a>
				<a class="mdl-navigation__link" href="">Call: (208) 539-1893</a>
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title cm-brand">Chappell Marketing</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/">Home</a>
			<a class="mdl-navigation__link" href="/blog">Blog</a>
			<a class="mdl-navigation__link" href="">Chat</a>
			<a class="mdl-navigation__link" href="mailto:chappell28@gmail.com?subject=chappellmarketing.com: Put your title here">Email</a>
			<a class="mdl-navigation__link" href="">Call: (208) 539-1893</a>
		</nav>
	</div>
{{end}}
